* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:auto auto;
}
.container {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: blanchedalmond;
  margin: 2rem auto;
  padding: 2rem;
}
.list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:80%;
  margin: auto auto;

  color: red;
}

.input {
  margin: auto;
}

.text {
  color: red;
  font-size: 1rem;
  margin-right: 1.3rem;
}

.done {
  color: green;
  font-size: 1rem;
}

.delete {
  color: red;
  font-size: 1rem;
}

button {
  margin: auto 1rem;
}

.done-text {
  color: green;
}

.done-delete {
  color: green;
}

.add {
  color: green;
  size: 1.1rem;
}
